
#all{
    width: 100%;
    font-size: 18px;
}

#first_body{
    border-radius: 8px;
    background-color: #2a88bd;
    width: 100%;
    height: 50px;
    font-family: Bahnschrift;
    font-size: 36px;
}

#left{
    border-radius: 8px;
    background-color: #2a88bd;
    font-family: Bahnschrift;
    font-size: 36px;
    width: 50%;
}

#body_button {
    height: 80px;
    width: 100%;
    align-content: end;
}

button{
    color: white;
    padding: 10px 25px ;
    text-decoration-color: #9d9d9d;
    border-radius: 6px;
    align-content: end;
}

input[type=text], input[type=email] {
    width: 200px;
    height: 30px;
    border: 2px solid #2a88bd;
    border-radius: 6px;
    padding-right: 60px;
}



